<!DOCTYPE html>
<html>
  <head>
    <title>CDPSgram</title>
	  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' />
	  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
	  <link rel='stylesheet' href='/stylesheets/style.css' />
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>

  <body style="font-family: 'Open Sans';">

  <div id="header">
	  <a href="/"><img src="http://downloadfreesvgicons.com/icons/social-media-icons/svg-instagram-logo-icon-1/svg-instagram-logo-icon-1.svg" style="height: 50px; margin-top: -20px; margin-left: 40px;"></a>
	  <a href="/ " id="titulo">CDPSgram</a>
	  <h2 class="col-sm-10 col-sm-offset-1" style="line-height: 1.4;">Welcome to CDPSgram <br>Discovering and telling stories with photos around the world </h2>

	  <div id="botones" class="col-sm-10 col-sm-offset-1">
		  <a href="/photos" class="button">My photos</a>
		  <a href="/photos/new" class="button">Upload new photo</a>
	  </div>
  </div>
  <div id="container">
	  <div class="col-sm-12" id="container-body"><%- body %></div>
  </div>
  <script src='https://code.jquery.com/jquery-2.2.0.min.js'></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
  </body>
</html>